
section form {
    width: 75%;
    display: flex;
    flex-direction: column;
}
.failed {
    color: red;
    text-align: center;
    background-color: pink;
    border: 1px dashed red;
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 20px;
    transition: 0.2s all;
    overflow: hidden;
}

.passed {
    color: green;
    text-align: center;
    background-color: rgb(192, 235, 192);
    border: 1px dashed green;
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 20px;
    transition: 0.2s all;
    overflow: hidden;
}

form * {
    width: 100%;
    resize: none;
    padding: 10px 5px;
    box-sizing: border-box;
}

form label {
    padding: 30px 0 10px 0;
    font-weight: bold;
}

input, textarea {
    border-radius: 5px;
    border: 1px solid rgb(247, 247, 247);
    transition: 0.2s all;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(217,217,217,1);
    -moz-box-shadow: 1px 1px 3px 0px rgba(217,217,217,1);
    box-shadow: 1px 1px 3px 0px rgba(217,217,217,1);
}

input:hover, textarea:hover {
    background-color: rgb(252, 252, 252);
}

#contactSubmit {
    border: 1px solid rgb(247, 247, 247);
    background-color: rgb(252, 252, 252);
    border-radius: 5px;
    padding: 20px 5px;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(217,217,217,1);
    -moz-box-shadow: 2px 3px 5px 0px rgba(217,217,217,1);
    box-shadow: 2px 3px 5px 0px rgba(217,217,217,1);
    cursor: pointer;
    transition: 0.2s all;
    margin: 30px 0;
}

iframe {
    width: 95%;
    height: 600px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contactInfoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    width: 95%;
}

@media only screen and (max-width: 800px) {
    section form {
        width: 90%;
        flex-direction: column;
    }
}